body {
    background: #f9f9f9;
    font-family: 'Roboto', sans-serif;
}

.container-post {
    width: 600px;
    text-align: center;
    margin: 40px auto;
    background: ;

}

h3 {
    color: #1cb7b0;
    font-size: 2.5rem;
    letter-spacing: 0.1em;
    margin-top: 0px;
    margin-bottom: 10px;
}

h4 {
    font-size: 2rem;
    margin-top: 0px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

h5 {
    font-size: 1.5rem;
    margin: 0px;
}

p {
    font-size: 1.2rem;
    letter-spacing: 9px;
    text-align: justify;
}

.container {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding: 10px;
    flex-direction: row;
    font-size: 12px;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    font-size: 0.5rem;
    padding: 15px;
    background: black;
    color: white;
    justify-content: center;
}


/* media query */

@media screen and (min-width: 550px) {
    html {
        font-size: 15px;
    }
}

@media screen and (min-width: 600px) {
    html {
        font-size: 18px;
    }
}

@media screen and (min-width: 800px) {
    html {
        font-size: 20px;
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 22px;
    }
}